header{
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height:140px;
    text-align:center;
    font-family: 'Krona One', sans-serif;
}
#linksdiv{
    display: flex;
    width:60%;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
#linksdiv > div{
    margin-left:15px;
    margin-right:15px;
}
a{
    color:lightslategray;
    text-decoration: none;
}
body{
    margin-top:140px;
    text-align:center;
}
#wrapper{
    width:100%;
    min-height: 500px;
}